{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://kit.fontawesome.com/c82271baa3.js" crossorigin="anonymous"></script>
    <title>LothCode Base</title>
</head>
<body>
    <header>
        <a href="#"><h1 class="logo-text"><b>Loth</b>Code</h1></a>
        <nav>
            <ul class="nav-area">
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Ipsum</a></li>
            </ul>
        </nav>
        <div class="profile">
            <a href="#" class="user-btn"><i class="fa-solid fa-circle-user"></i></a>
            <div class="profile-menu">
                <h3>Furkan Esen</h3>
                <br>
                <div class="sub-text">Software Developer</div>
                <ul>
                    <li><i class="fa-solid fa-circle-user pricon"></i><a href="#">My Profile</a></li>
                    <li><i class="fa-solid fa-pen-to-square pricon"></i><a href="#">Edit Profile</a></li>
                    <li><i class="fa-solid fa-inbox pricon"></i><a href="#">Inbox</a></li>
                    <li><i class="fa-solid fa-gear pricon"></i><a href="#">Settings</a></li>
                    <li><i class="fa-solid fa-circle-question pricon"></i><a href="#">Help</a></li>
                    <li><i class="fa-solid fa-arrow-right-from-bracket pricon"></i><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

</body>
</html>
