{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://kit.fontawesome.com/c82271baa3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>LothCode Base</title>
</head>
<body>
    
    <header>
        <a href="#" class="website-title"><h1 class="logo-text"><span>Code</span>Race</h1></a>
        <nav>
            <ul class="nav-area">
                <li class="sup-item"><a href="#">Home</a></li>
                <li class="sup-item">
                    <a href="#">Practises <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li class="sub-item"><a href="#">Technical Practise</a></li>
                        <li class="sub-item"><a href="#">Coding Practise</a></li>
                    </ul>
                </li>
                <li class="sup-item">
                    <a href="#">Challenges <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li class="sub-item"><a href="#">Technical Challenge</a></li>
                        <li class="sub-item"><a href="#">Coding Challenge</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="profile">
            <a href="#" class="user-btn" style="text-decoration: none; color: white;"><i class="fa-solid fa-circle-user" onclick="profileMenuToggle();"></i></a>
            <div class="profile-menu">
                {% if user.is_authenticated %}
                <h3>{{user}}(ID: {{user.id}})</h3>
                <div class="sub-text">Expert Member</div>
                <div class="sub-text">250.00 EXP</div>
                <ul>
                    <li><i class="fa-solid fa-circle-user pricon"></i><a href="#">My Profile</a></li>
                    <li><i class="fa-solid fa-pen-to-square pricon"></i><a href="#">Edit Profile</a></li>
                    <li><i class="fa-solid fa-inbox pricon"></i><a href="#">Inbox</a></li>
                    <li><i class="fa-solid fa-gear pricon"></i><a href="#">Settings</a></li>
                    <li><i class="fa-solid fa-circle-question pricon"></i><a href="#">Help</a></li>
                    <li><i class="fa-solid fa-arrow-right-from-bracket pricon"></i><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                {% else %} 
                    <ul>
                        <li><a href="#" class="sign-in-btn">Sign In</a></li>
                        <li><a href="#" class="register-btn">Sign Up</a></li>
                    </ul>
                {% endif %} 
                
            </div>
            <div class="auth-form">
                <div class="auth-container">

                    <div class="form login">
                        <h3 class="auth-title">Login</h3>
                    
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-field">
                                <input type="text" name="username" placeholder="Enter your username" required>
                                <i class="uil uil-user-circle icon"></i>
                            </div>
    
                            <div class="input-field">
                                <input type="password" name="password" class="password" placeholder="Enter your password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showPass"></i>
                            </div>
                            
                            <div class="auth-checkbox">
                                <div class="checkbox-content">
                                    <input type="checkbox" name="log-check" class="log-check">
                                    <label for="log-check" class="label">Remember me!</label>
                                </div>

                                <a href="#" class="label">Forgot password?</a>
                            </div>

                            <div class="input-field button">
                                <input type="submit" value="Login Now">
            
                            </div>
                        </form>

                        <div class="login-signup">
                            <span class="label">Not a member? <a href="#" class="label signup-label">Sign up now!</a></span>
                        </div>

                        <div class="auth-connect-container">
                            <div class="connect-account">
                                <span class="label connect-label">or connect with</span>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-microsoft"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="form register">
                        <h3 class="auth-title">Sign up</h3>
                    
                        <form action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-field">
                                <input type="text" name="username" placeholder="Enter your username" required>
                                <i class="uil uil-user-circle icon"></i>
                            </div>

                            <div class="input-field">
                                <input type="email" name="email" placeholder="Enter your email" required>
                                <i class="uil uil-envelope icon"></i>
                            </div>
    
                            <div class="input-field">
                                <input type="password" name="password" class="password" placeholder="Enter your password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showPass"></i>
                            </div>
                            
                            <div class="input-field">
                                <input type="password" name="repassword" class="password" placeholder="Enter your password again" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showPass"></i>
                            </div>

                            <div class="input-field button">
                                <input type="submit" value="Sign up Now">
            
                            </div>
                        </form>
                        <div class="auth-connect-container">
                            <div class="connect-account">
                                <span class="label connect-label">or connect with</span>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-microsoft"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            </ul>
                        </div>

                        <div class="login-signup">
                            <span class="label">Already a member? <a href="#" class="label signup-label">Login now!</a></span>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
    <script src="{% static 'home.js' %}"></script>
</body>
</html>
