@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #24252A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #edf0f1;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

h1 {
    cursor: pointer;

}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: opacity .3s ease-in-out;  
}

.nav-area li a:hover {
    opacity: 0.85;
}

.user-btn {
    cursor: pointer;
    font-size: 2em;
}

.pricon {
    font-size: 0.9em;
    color: #333;
}

.profile-menu {
    position: absolute;
    background-color: #fff;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    right: 10px;
    width: 200px;
    border-radius: 15px;
    transition: 0.5s;
}

.profile-menu::before {
    background-color: #fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}

.profile-menu h3 {
    color: #555;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0;
    text-align: left;
    width: 100%;
}

.profile-menu div.sub-text {
    color: #818181;
    font-size: 0.9em;
    font-weight: 400;
}